.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fieldContainer {
  display: flex;
  width: 400px;
  background-color: rgba(35, 155, 155, 0.342);
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-end;
}
.field {
  margin-top: 40px;
}
.addVal {
  margin-top: 20px;
  margin-bottom: 40px;
}
